[include]
    path = .gitconfig.local

[user]
    name = Kieran O'Brien

[core]
    autocrlf = input
    excludesFile = ~/.gitignore_global
    editor = codium --wait
    pager = delta

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[init]
    defaultBranch = main

[submodule]
    recurse = true

[fetch]
    prune = true

[pull]
    rebase = true

[commit]
    gpgSign = true

[push]
    autoSetupRemote = true

[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.git_allowed_signers

[diff]
    colorMoved = default
    tool = vscodium
[difftool]
    prompt = false
[difftool "vscodium"]
    cmd = codium --wait --diff "$LOCAL" "$REMOTE"
[delta]
    navigate = true
    side-by-side = true
    hyperlinks = true
    map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[merge]
    conflictstyle = diff3
    tool = vscodium
[mergetool]
    prompt = false
[mergetool "vscodium"]
    cmd = codium --wait --merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true

[rebase]
    autoSquash = true
    updateRefs = true

[absorb]
    maxStack = 50

[alias]
    alias = "!git config -l | grep alias | cut -c 7-"
    ec = config --global -e
    st = status -s
    last = log -1 HEAD
    hist = log -u
    ls = log --pretty=format:'%Cred%h%Creset - %s - %Cblue%an%Creset (%Cgreen%ch%Creset)'
    ll = ls --numstat
    dif = diff --staged
    pull-sub = submodule update --init --recursive
    br = branch
    co = checkout
    cob = co -b
    ci = commit -am
    ca = "!git add -A && git commit -m"
    ac = commit --amend --no-edit -a
    acm = commit --amend -am
    uncommit = reset HEAD~
    unstage = restore --staged
    untrack = rm --cached
    sls = stash list
    spop = stash pop
    sshow = stash show -p
    default-branch = symbolic-ref refs/remotes/origin/HEAD --short
    branches = for-each-ref refs/heads --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:human)%(color:reset))'
    merged = "!git fetch -q && git branch --merged $(git default-branch) | awk '{ $1 = $1 }; 1'"
    cull-merged = "!git merged | xargs git branch -D"
    gone = "!git fetch -q && git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' | awk 'NF'"
    cull-gone = "!git gone | xargs git branch -D"
    absorb = "!git-absorb"
