[include]
    path = ~/.gitconfig.local

[user]
    name = Kieran O'Brien

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = codium --wait
    pager = delta

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[init]
    defaultBranch = main

[fetch]
	prune = true

[commit]
    gpgsign = true

[push]
	autoSetupRemote = true

[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.git_allowed_signers

[diff]
    colorMoved = default
    tool = vscodium
[difftool]
    prompt = false
[difftool "vscodium"]
    cmd = codium --wait --diff "$LOCAL" "$REMOTE"
[delta]
    navigate = true
    side-by-side = true
    hyperlinks = true
    map-styles = bold purple => syntax magenta, bold cyan => syntax blue

[merge]
    conflictstyle = diff3
    tool = vscodium
[mergetool]
    prompt = false
[mergetool "vscodium"]
    cmd = codium --wait --merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true

[alias]
    alias = "!git config -l | grep alias | cut -c 7-"
    st = status -s
    last = log -1 HEAD
    hist = log -u
	ls = log --pretty=format:'%Cred%h%Creset - %s - %Cblue%an%Creset (%Cgreen%ch%Creset)'
    ll = ls --numstat
    ds = diff --staged
	co = checkout
    ci = commit -m
    ca = "!git add . && git ci"
    ac = commit --amend -m
    acq = commit --amend --no-edit
    uc = reset HEAD~
    br = branch
    sl = stash list
    sp = stash pop
    ss = stash show -p
    unstage = restore --staged
    untrack = rm --cached
    branches = for-each-ref refs/heads/ --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:human)%(color:reset))'
    orphans = "!git fetch --prune &> /dev/null && git for-each-ref refs/heads --format='%(if:equals=gone)%(upstream:track,nobracket)%(then)%(refname:short)%(else)%(end)' | awk '$1{print $1}'"
    cull = "!git orphans | xargs git branch -D"
