
# Created by https://www.toptal.com/developers/gitignore/api/zsh
# Edit at https://www.toptal.com/developers/gitignore?templates=zsh

### Zsh ###
# Zsh completion-optimization dumpfile
*zcompdump*
*zcompcache*

# Zsh zcalc history
.zcalc_history

# Zsh history
*zsh_history*

*zsh_sessions*

# End of https://www.toptal.com/developers/gitignore/api/zsh

